openapi: 3.0.1
info:
  title: Y42 Public Manifest API
  description: The Y42 public REST API for the Y42 managed DataOps platform. It lets you programmatically manage spaces (Y42 environments) and their data-warehouse credentials, trigger and retrieve orchestration runs by command or by asset, retrieve the dbt manifest for a space, and read the latest job information. Paths below reflect endpoints documented in the Y42 public API reference (https://y42-public-api.readme.io/). Request and response schemas are not fully published in the public reference and are therefore omitted here rather than fabricated; consult the live reference for body shapes.
  termsOfService: https://www.y42.com/legal/terms-of-service
  contact:
    name: Y42 Support
    url: https://www.y42.com
  version: '4'
servers:
- url: https://api.y42.dev
  description: Y42 public API
security:
- bearerAuth: []
tags:
- name: Manifest
paths:
  /api/1/dbt/{org_slug}/{space_slug}/manifest:
    get:
      operationId: getManifest
      tags:
      - Manifest
      summary: Get dbt manifest
      description: Retrieves the dbt manifest content for a space, exposing the assets, models, sources, and lineage of the project.
      parameters:
      - $ref: '#/components/parameters/OrgSlug'
      - $ref: '#/components/parameters/SpaceSlug'
      responses:
        '200':
          description: The dbt manifest for the space.
components:
  parameters:
    OrgSlug:
      name: org_slug
      in: path
      required: true
      description: The slug of the organization (company).
      schema:
        type: string
    SpaceSlug:
      name: space_slug
      in: path
      required: true
      description: The slug of the space (environment).
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Y42 API keys are created in the organization settings inside the Y42 app and passed as a Bearer token in the Authorization header.
