openapi: 3.0.1
info:
  title: Y42 Public Manifest Spaces API
  description: The Y42 public REST API for the Y42 managed DataOps platform. It lets you programmatically manage spaces (Y42 environments) and their data-warehouse credentials, trigger and retrieve orchestration runs by command or by asset, retrieve the dbt manifest for a space, and read the latest job information. Paths below reflect endpoints documented in the Y42 public API reference (https://y42-public-api.readme.io/). Request and response schemas are not fully published in the public reference and are therefore omitted here rather than fabricated; consult the live reference for body shapes.
  termsOfService: https://www.y42.com/legal/terms-of-service
  contact:
    name: Y42 Support
    url: https://www.y42.com
  version: '4'
servers:
- url: https://api.y42.dev
  description: Y42 public API
security:
- bearerAuth: []
tags:
- name: Spaces
paths:
  /api/1/github-backend/{org_slug}/:
    get:
      operationId: listSpaces
      tags:
      - Spaces
      summary: List spaces
      description: Returns a list of all accessible spaces in an organization (company).
      parameters:
      - $ref: '#/components/parameters/OrgSlug'
      responses:
        '200':
          description: A list of accessible spaces.
  /api/1/github-backend/{org_slug}/space:
    post:
      operationId: createSpace
      tags:
      - Spaces
      summary: Create a space
      description: Creates a new space (environment) within the organization.
      parameters:
      - $ref: '#/components/parameters/OrgSlug'
      responses:
        '200':
          description: The created space.
  /api/1/github-backend/{org_slug}/space/{slug}:
    get:
      operationId: getSpace
      tags:
      - Spaces
      summary: Retrieve a space
      description: Retrieves details for a single space by slug.
      parameters:
      - $ref: '#/components/parameters/OrgSlug'
      - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: The requested space.
    delete:
      operationId: deleteSpace
      tags:
      - Spaces
      summary: Delete a space
      description: Removes a space by slug.
      parameters:
      - $ref: '#/components/parameters/OrgSlug'
      - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: The space was deleted.
  /api/1/github-backend/{org_slug}/space/{slug}/credentials:
    patch:
      operationId: updateSpaceCredentials
      tags:
      - Spaces
      summary: Update space credentials
      description: Updates the data-warehouse credentials/connection (e.g. BigQuery, Snowflake, GCS, S3) associated with a space.
      parameters:
      - $ref: '#/components/parameters/OrgSlug'
      - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: The updated credentials.
  /api/1/credential/{org_slug}/{space_slug}/connections:
    post:
      operationId: createConnection
      tags:
      - Spaces
      summary: Create a connection
      description: Creates an integration/source connection credential for a space.
      parameters:
      - $ref: '#/components/parameters/OrgSlug'
      - $ref: '#/components/parameters/SpaceSlug'
      responses:
        '200':
          description: The created connection.
components:
  parameters:
    OrgSlug:
      name: org_slug
      in: path
      required: true
      description: The slug of the organization (company).
      schema:
        type: string
    SpaceSlug:
      name: space_slug
      in: path
      required: true
      description: The slug of the space (environment).
      schema:
        type: string
    Slug:
      name: slug
      in: path
      required: true
      description: The slug of the space.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Y42 API keys are created in the organization settings inside the Y42 app and passed as a Bearer token in the Authorization header.
